<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>


    <group ns="cloud_gen">
<!-- This launch file uses the depth_image_proc node to transform a color image and a depth image
    into an xyzrgb point cloud for use with the Navigation Stack -->

<!-- This file is to be used with the Intel Realsense node rs_rgbd.launch and the MATLAB code titles
     realsense_lane_detect.m outputting the processed images-->

         <arg name="rgb_camera_info"     value="/matlab/camera_info"/>
         <arg name="depReg_imgrect"      value="/matlab/processed_depth"/>  <!--Rectified depth image-->
         <arg name="out_cloud"           value="/white_lines"/>
         <arg name="rvizconfig"          value="$(find bender_2dnav)/Rviz_Config/camera_cloudgen.rviz"/>


        <!-- Nodelet manager for this pipeline -->
        <node pkg="nodelet" type="nodelet" args="manager"
            name="record_player_manager" output="screen"/>

        <!-- Construct point cloud of the rgb and depth topics -->
        <node pkg="nodelet" type="nodelet" name="xyz_cloud"
            args="load depth_image_proc/point_cloud_xyz record_player_manager" output="screen">
            <remap from="/camera_info"               to="$(arg rgb_camera_info)" />
            <remap from="/cloud_gen/image_rect"                to="$(arg depReg_imgrect)"/>
            <remap from="/cloud_gen/points"          to="$(arg out_cloud)"/>
        </node>
    </group>

    <node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bender_2dnav)/Rviz_Config/camera_cloudgen.rviz" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf" args="0 0 0 0 0 0 camera_color_optical_frame lines_link" />
</launch>
