<launch>
<!-- This program launches the Bender Simulation with the ability to drive around with the keyboard -->
    <include file="$(find bender_model)/bender_simulation.launch">
    <arg name="model" default="$(find bender_model)/model.urdf.xacro"/>
    <arg name="gui" default="false" />
    <arg name="rvizconfig" default="$(find bender_model)/urdf.rviz"/>
    </include>

    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e">
        <remap from="cmd_vel" to="/bender_diff_drive_controller/cmd_vel"/>
    </node>

</launch>
